<div class="arlo_tm_about" id="about">
    <div class="container">
        <div class="arlo_tm_main_title">
            <span>Biography</span>
            <h3>About Me</h3>
        </div>
        <div class="about_inner">
            <div class="left">
                <div cl ss="about_image_wrap parallax" data-relative-input="true">
                    <div class="image layer" data-depth="0.2">
                        <img src="assets/img/a/Profilepic.jpg" alt="" />
                        <div class="inner" data-img-url="src/assets/img/a/Profilepic.jpg"></div>
                    </div>
                    <!-- <div class="border layer" data-depth="7">
                        <img src="assets/img/a/Profilepic.jpg" alt="" />
                        <div class="inner"></div>
                    </div> -->
                </div>
            </div>
            <div class="right">
                <div class="about_title">
                    <h3>I'm Suvajit Paul </h3>
                </div>
                <div class="text">
                    <p>Hi! My name is <span>Suvajit Paul</span>. I am a Web Developer, and I'm very passionate and
                        dedicated to my work. With 1 years experience as a professional Web developer, I have
                        acquired the skills and knowledge necessary to make your project a success.</p>
                </div>
                <div class="about_short_contact_wrap">
                    <ul>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/gift.svg" alt="" /> -->
                           

                            <span><label>Birthday:</label> 12.04.1997</span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/calendar-4.svg" alt="" /> -->
                            <span><label>Age:</label> 25</span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/location-1.svg" alt="" /> -->
                            <span><label>Location:</label> <a class="href_location" href="#">Kolkata,W.B,India
                                </a></span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/game-controller-2.svg" alt="" /> -->
                            <span><label>Interests:</label> Guitar, Reading</span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/study-5.svg" alt="" /> -->
                            <span><label>Study:</label> <a class="href_location" href="#"> U.E.M, Kolkata</a></span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="img/svg/degree-1.svg" alt="" /> -->
                            <span><label>Degree:</label> B.Tech in E.C.E</span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/message-3.svg" alt="" /> -->
                            <span><label>Mail:</label> <a
                                    href="/cdn-cgi/l/email-protection#7b1e031a160b171e3b1c161a121755181416">suvajitpaul.uemk2015@gmail.com</a></span>
                        </li>
                        <li>
                            <!-- <img class="svg" src="src/assets/img/svg/call-2.svg" alt="" /> -->
                            <span><label>Phone:</label> <a href="tel:+77 022 177 05 05">+91 90730 29841</a></span>
                        </li>
                    </ul>
                </div>
                <div class="arlo_tm_button">
                    <!-- <a href="src/assets/img/resume/resume.jpg" download ><span>Download CV</span></a> -->
                    <button mat-stroked-button color="accent" (click)="downloadPdf()">Download CV</button>



                    <!-- <div *ngIf="isshowvalue">
                        <a href="src/assets/img/resume/resume.jpg" download><span>Download CV</span></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
</div>
<div>
    <app-footer></app-footer>
</div>

