<div class="top">
    <div>
        <div class="container">
            <div>
                <div class="content">
                    <div class="image_wrap">
                        <div class="main">
                            <img src="assets/img/portfolio/coffe.jpg">
                        </div>
                    </div>
                    <br><br>
                    <h3 class="center">WELCOME TO MY BLOG</h3>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="font">
    <p>My name is Suvajit Paul. I am a writer, I like to travel and I love to photograph beautiful nature places and
        happy peoples.Also I am a professional software developer </p>
</div>