.center {
    margin: auto;
    width: 50%;
    
    padding: 10px;
    text-align: center;
  }

.top{
        padding-top: 200px;
        margin-top: 500px;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom:20px;
        /* margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px; */
      
}

.font{
    margin-left: 200px;
    margin-right: 200px;
    font-style: italic;
    color: green;
    padding-bottom: 50px;
}