<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a  class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank" role="button">
                <div>
                    <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                    <img src="../../../../assets/img/icons8-facebook-32.png">
                </div>
            </a>

            <!-- Twitter -->
            <a class="btn text-white btn-floating m-1" style="background-color: #F1FCFF;" href="https://www.linkedin.com/login" target="_blank" role="button">
                <div>
                    <!-- <fa-icon [icon]="Linkedlnicon"></fa-icon> -->
                    <div>
                        <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                        <img src="../../../../assets/img/icons8-linkedin-45.png">
                    </div>

                </div>
            </a>

            <!-- Google -->
            <a class="btn text-white btn-floating m-1" style="background-color: #F1FCFF;" href="https://github.com/login" target="_blank" role="button">
                <div>
                    <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                    <img src="../../../../assets/img/icons8-github-45.png">
                </div>
            </a>

            <!-- Instagram -->
            <a class="btn text-white btn-floating m-1" style="background-color: #F1FCFF;" href="https://www.hackerrank.com/access-account/" target="_blank" role="button">
                <div>
                    <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                    <img src="../../../../assets/img/icons8-hackerrank-is-a-technology-company-that-focuses-on-competitive-programming-42.png">
                </div>
            </a>

            <!-- Linkedin -->
            <a class="btn text-white btn-floating m-1" style="background-color: #F1FCFF;" href="https://accounts.google.com/v3/signin/identifier?dsh=S1057505904%3A1671463694306942&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%3Fpli%3D1&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%3Fpli%3D1&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=AeAAQh7S9bdVPHPUuTJxivLLoM0vAEaJlIG3Bc5-H_RWtux65bP3pOjlHC1KcU4CD-cJianSCHm1Gg#inbox" target="_blank" role="button">
            
                <div>
                    <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                    <img src="../../../../assets/img/icons8-gmail-logo-47.png">
                </div>
            </a>
            <!-- Github -->
            <a class="btn text-white btn-floating m-1" style="background-color: #F1FCFF;" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" target="_blank" role="button">
                <div>
                    <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                    <img src="../../../../assets/img/icons8-twitter-42.png">
                </div>
            </a>

            <a class="btn text-white btn-floating m-1" style="background-color: #F1FCFF;" href="https://www.instagram.com/accounts/login/" target="_blank" role="button">
                <div>
                    <!-- <fa-icon  [icon]="Facebookicon"></fa-icon> -->
                    <img src="../../../../assets/img/icons8-instagram-48.png">
                </div>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
