<div class="arlo_tm_all_wrap" data-magic-cursor="" data-color="crimson">


    <div class="arlo_tm_hero" id="home">
        <div class="background">
            <div class="image" data-img-url="assets/img/a/deer-17.jpg">
                <img src="assets/img/a/lucky-animal-01.jpg">
                <!-- <app-homecarousel></app-homecarousel> -->


            </div>

            <div class="particle_wrapper">
                <div id="particles-js"></div>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- <div class="content">
             <div class="image_wrap">
                <div class="main" data-img-url="../../assets/img/a/img.jpg"></div>
            </div> 
            

        </div> -->

        <div class="arlo_tm_arrow_wrap bounce anchor">
            <div class="name_holder">
                <h3>Suvajit <span>Paul</span></h3>
            </div>
            <div class="text_typing">
                <p>An <i style="background-color:yellow;color: rgb(0, 255, 76);"><b> Explorer </b></i></p>
            </div>
            <a routerLink="about"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                        d="M169.4 278.6C175.6 284.9 183.8 288 192 288s16.38-3.125 22.62-9.375l160-160c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0L192 210.8L54.63 73.38c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L169.4 278.6zM329.4 265.4L192 402.8L54.63 265.4c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25l160 160C175.6 476.9 183.8 480 192 480s16.38-3.125 22.62-9.375l160-160c12.5-12.5 12.5-32.75 0-45.25S341.9 252.9 329.4 265.4z" />
                </svg></a>
        </div>
    </div>

    <!-- <app-about></app-about> -->

   <app-features></app-features>

    <app-news></app-news>

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

</div>

<div>
    <app-footer></app-footer>
</div>